<mat-card class="footer_block1">


  <mat-card-content class="footer_block1_wrapper">

   <span class="footer_block_con">

    <span class="footer_block_con1"> <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/footerlogo.png"> </span>
    <span class="footer_block_con2"> 
     <h2>Quick Links </h2>
     <span class="footer_block_con2_wrapper">
     <span>
    <button mat-button routerLink="/home"   routerLinkActive="active" >Home      </button>
    <button mat-button routerLink="/rm3atesting"   routerLinkActive="active">RM-3A Testing        </button>
   <button mat-button routerLink="/blood-card-testing" >Blood Card Testing       </button>
  </span>

    <span>
      <button mat-button routerLink="/allergy-testing" > Allergy Testing     </button>
    <button mat-button routerLink="/team"   routerLinkActive="active">The Team </button>
     <button mat-button routerLink="/contact-us" >Contact Us</button>
    </span>

  </span>
   

    </span>
    <span class="footer_block_con3"> 

       <h2>Our Address</h2>

       <label>
        <i class="material-icons">
          location_on
          </i>
       <span> Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit,</span>
      
      </label>

        <label> 
          <i class="material-icons">
            phone
            </i>
          <span>  Phone : <a href="tel:(000) 000-0000">(000) 000-0000</a></span>

        </label>


        <label>
          <i class="material-icons">
            email
            </i>
          <span> Email : <a href="mailto:Support@DataMed Unlimited.com" target="_top"> Support@DataMed Unlimited.com </a> </span>

        </label>


    </span>

   </span>




  </mat-card-content>


 </mat-card>


  <mat-card class="footer_block2">
    <span>Terms & Conditions</span>      <span>Privacy Policy </span>     <span>Copyright © 2020 DataMed Unlimited. All Rights Reserved.</span>

  </mat-card>
