<app-top></app-top>



<mat-card class="allergy-testing_banner">
  <span class="allergy-testing_text_banner">
  <span class="allergy-testing_bnner_text">
  <h2>
    <p data-title="Comprehensive ">Comprehensive  </p>
    <p data-title="Allergy Testing">Allergy Testing</p>
      
  </h2>
  <h3>Delivering good medicine through a superior market position in blood allergy.

  </h3>

  </span>
</span>

</mat-card>


<mat-card class="allergy_testing_block2">

  <span class="allergy_testing_block2_body">
    <span class="allergy_testing_block2_body_wrapper">
      <h2>A NEW APPROACH</h2>

      <h3>Proprietary, FDA-Approved,<br/> 
        Non-Invasive Blood Allergy Testing</h3>

        <label>Proprietary testing analyzes three factors: IgE, I G4, 
          and C3d complement</label>

          <label>Unique platform identifies a large range of antigens 
            (88) that cause food sensitivities and intolerances</label>

            <label>Proprietary, advanced algorithm rates the level of 
              severity by antigen</label>

              <label>FDA-approved. patent-pending blood cartridge kit 
                enables simple finger stick collection</label>
              </span>
  </span>
  </mat-card>


  <mat-card class="allergy_testing_block3">
    <span class="allergy_testing_block3_body">
    <span class="allergy_testing_block3_wrapper">


      <span class="allergy_testing_block3_text">

        <h2>REPORTING EXPLAINED </h2>
        <label>Reports provide actionable intelligence to the provider 
          and the patient.</label>

          <label>Comprehensive overview with dietary recommendations by 
            specific food group and antigen.</label>

            <label>Organized report drill down to three categories: 'No Limitation', 
              ‘Rotate’, ‘Eliminate’</label>

              <h3>The ability to identify root causes for intestinal inflammation has been a process of elimination, until now! In addition to IGe, a provider has the ability to identify a multitude of food sensitivities and intolerances. This proprietary algorithm also rates the level of severity by antigen. This anecdotal report gives the provider specific information to act on the treatment of the patient.</h3>

              <span class="allergy_testing_block3_text_sub">
                <strong>The report itself is a 
                  combination of two tests.
                  </strong>

                  <p>Comparing IgE & IgG4  </p>
                    <p>Comparing IgG with Compliment </p>
              </span>

              <span class="allergy_testing_block3_text_sub">
                <strong>The first two pages present the Provider with a summary overview, then a quick dietary recommendations, based on results, followed by the details of the two reports by specific food group and antigen.
                  </strong>

                  
              </span>

              <span class="clear"></span>
      </span>


    </span>
  </span>

  </mat-card>


 

    <mat-card class="allergy-testing_report">
  
         <h2>REPORT</h2>

         <mat-card-content class="allergy_testing_report_wrapper">

         <span *ngFor="let item of reportImg; let i = index" (click)="openDialog(item)">
            <img src="{{item.image}}" >
            
            
            </span>
       


           


</mat-card-content>



    </mat-card>
 


      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>