<app-top></app-top>


<mat-card class="contact_body">
    


    <mat-card-content class="contact_body_wrapper">
        <span class="contact_banner_class">

          <span class="contact_banner_class_wrapper">
          
            <span class="contact_text_class">
                <h2><p data-title="Contact us">Contact us </p></h2>
                <h3>
                  <strong>DATAMED Unlimited</strong>
                  1175 American Pacific Dr<br/>
                   Henderson, NV 89074

                </h3>

            </span>

            <span class="contact_address_class">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3226.139061010141!2d-115.03868608438123!3d36.04131191774619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8d10f8a39fd6d%3A0x5d97c5fd0226a5c8!2s1175%20American%20Pacific%20Dr%2C%20Henderson%2C%20NV%2089074%2C%20USA!5e0!3m2!1sen!2sin!4v1582630757298!5m2!1sen!2sin"   frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </span>

          </span>

        </span>


        
        <span class="con_form_body">

            <span class="con_form_wrapper">
              <h3>Contact Form</h3>
    
                <form>
                  <mat-card-content>
                  <label>First Name<span>*</span></label>
                  <mat-form-field >
                    <mat-label>First Name</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
    
                <mat-card-content>
                  <label>Last Name<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
                <mat-card-content>
                  <label>Phone Number<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Phone Number</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
                <mat-card-content>
                  <label>Email Address<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Email Address</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
              
    
                <mat-card-content>
                  <label>Message<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Message</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
    
                </mat-card-content>
    
                <mat-card-content>
                <button mat-button class="subbtn">Submit</button>
                </mat-card-content>
    
    
                <span class="clear"></span>
    
                </form>
    
    
            </span>
    
          </span>

        <span class="clear"></span>
    </mat-card-content>


</mat-card>


 


 
<app-footer></app-footer>
