<app-top></app-top>


<mat-card class="contact_body">
    


    <mat-card-content class="contact_body_wrapper">
        <span class="contact_img_class">
            <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/contact_img.png" alt="#"  >
        </span>
        
        <span class="con_form_body">

            <span class="con_form_wrapper">
              <h3>Contact Form</h3>
    
                <form>
                  <mat-card-content>
                  <label>First Name<span>*</span></label>
                  <mat-form-field >
                    <mat-label>First Name</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
    
                <mat-card-content>
                  <label>Last Name<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
                <mat-card-content>
                  <label>Phone Number<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Phone Number</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
                <mat-card-content>
                  <label>Email Address<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Email Address</mat-label>
                    <input matInput>
                  </mat-form-field>
    
                </mat-card-content>
    
              
    
                <mat-card-content>
                  <label>Message<span>*</span></label>
                  <mat-form-field >
                    <mat-label>Message</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
    
                </mat-card-content>
    
                <mat-card-content>
                <button mat-button class="subbtn">Submit</button>
                </mat-card-content>
    
    
                <span class="clear"></span>
    
                </form>
    
    
            </span>
    
          </span>

        <span class="clear"></span>
    </mat-card-content>


</mat-card>


 


 
<app-footer></app-footer>
