<app-top></app-top>
 


<mat-card class="rm3atesting_banner">
  <span class="rm3atesting_bnner_text_banner">
  <span class="rm3atesting_bnner_text">
  <h2>
    <p data-title="RM-3A Medical">RM-3A Medical </p>
    <p data-title="Device">Device</p>
      
  </h2>
  <h3>Comprehensive Reporting on Traditional Risk Factors, through a non-invasive testing to the masses! 
  </h3>

  </span>
</span>

</mat-card>

<span style="position: relative; display: block; margin-top: -4px;">
  <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/rm3atesting_img2.jpg" alt="#" style="width: 100%;">

  </span>

  <span style="position: relative; display: block; margin-top: -4px;">
    <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/rm3atesting_img3.jpg" alt="#" style="width: 100%;">
  
    </span>

    <span style="position: relative; display: block; margin-top: -4px;">
      <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/rm3atesting_img4.jpg" alt="#" style="width: 100%;">
    
      </span>

      <span style="position: relative; display: block; margin-top: -4px;">
        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/rm3atesting_img5.jpg" alt="#" style="width: 100%;">
      
        </span>

        <span style="position: relative; display: block; margin-top: -4px;">
          <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/rm3atesting_img6.jpg" alt="#" style="width: 100%;">
        
          </span>



      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>