<app-top></app-top>
 


<mat-card class="rm3atesting_banner">
  <span class="rm3atesting_bnner_text_banner">
  <span class="rm3atesting_bnner_text">
  <h2>
    <p data-title="RM-3A Medical">RM-3A Medical </p>
    <p data-title="Device">Device</p>
      
  </h2>
  <h3>Comprehensive Reporting on Traditional Risk Factors, through a non-invasive testing to the masses! 
  </h3>

  </span>
</span>

</mat-card>



<mat-card class="rm3atesting_block1">

  <span class="rm3atesting_block1_wrapper">

    <span class="rm3atesting_block1_con">
   <h2>RM-3A MEDICAL DEVICE</h2>

   <h3>Scientiﬁcally validated and FDA cleared, this Class 2 analytical medical device performs a range of tests. The RM-3A scan is a highly comprehensive, 
     and non-invasive, medical device that measures <span>eight health risk areas</span> within the body. 
     This yearly test effectively measures the state of patient’s health by screening for hidden causes of disease and other metabolic disorders. </h3>

    </span>


    </span>

</mat-card>

<mat-card class="allergy_testing_block3">
  <span class="allergy_testing_block3_body">
  <span class="allergy_testing_block3_wrapper">


    <span class="allergy_testing_block3_text">
      <h5>EARLY DETECTION ALLOWS COUNTRIES TO MORE EFFECTIVELY IDENTIFY SYMPTOMS AND DISEASE COMPLICATIONS IN SUPPORT OF PREVENTATIVE TREATMENT PLANS AND MANAGING RISKS FOR:</h5>


      <span class="rm3atesting_block3_text">
       <p> Heart attack</p>
       <p> Heart Rate Variability Issues</p>
        <p> Angiotensin Activity </p>
          <p> Atherosclerosis </p>
            <p> Peripheral Vascular Disease </p>
              <p> Hyperhidrosis & Hypohydrosis </p>
                <p> Impaired Glucose Intolerance </p>
                  <p> Nerve Damage</p>
                    <p> Obesity </p>
      </span>


      <span class="rm3atesting_block3_text">
        <p>  Cardiac Output to Body Surface Area  </p>
        <p>Abnormal LDL Cholesterol Levels </p>
          <p>Insulin Resistance </p>
            <p>Diabetes with Complications </p>
              <p>Physical & Mental Stress and Fatigue </p>
                <p>Stroke </p>
                  <p>Establishes Medical Necessity or 
additional In-Depth Patient Testing </p>
       </span>
 
            <span class="clear"></span>
    </span>


  </span>
</span>

</mat-card>


 
<mat-card class="block vmblock2">
 <h6>RM-3A MEDICAL DEVICE - 8 ESSENTIAL RISK FACTORS</h6>
  <span class="newcontainer">
      <div class="container-fluid nmsfunneldoctor_block8">
          <div class="nmsfunneldoctor_block_wrapper"> 
            <ol>
              <li class="libase li1">
                <div class="listwarppercls">
                    <h4>Autonomic Nervous System Dysfunction</h4>
                    <span class="imgwrapperblock8">
                      <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg1.jpg" class="imgblock8cls">
                    </span>
                </div>
                
              </li>
              <li class="libase li2">
                  <div class="listwarppercls">
                      <h4>Insulin Resistance</h4>
                      <span class="imgwrapperblock8">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg2.jpg" class="imgblock8cls">
                      </span>
                  </div>
              </li>
              <li class="libase li3">
                  <div class="listwarppercls">
                      <h4>Endothelial Dysfunction.</h4>
                      <span class="imgwrapperblock8">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg3.jpg" class="imgblock8cls">
                      </span>
                  </div>
              </li>
              <li class="libase li4">
                  <div class="listwarppercls">
                      <h4>Sudomotor Dysfunction</h4>
                      <span class="imgwrapperblock8">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg4.jpg" class="imgblock8cls">
                      </span>
                  </div>    
              </li>
              <li class="libase li5">
                  <div class="listwarppercls">
                      <h4>Cardiac Autonomic Neuropathy</h4>
                      <span class="imgwrapperblock8">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg5.jpg" class="imgblock8cls">
                      </span>
                  </div>
              </li>
              <li class="libase li6">
                  <div class="listwarppercls">
                      <h4>Cardio- Metabolic Risk</h4>
                      <span class="imgwrapperblock8">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg6.jpg" class="imgblock8cls">
                      </span>
                  </div>
              </li>
              <li class="libase li7">
                  <div class="listwarppercls">
                      <h4>Small Fibre Neuropathy</h4>
                      <span class="imgwrapperblock8">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg7.jpg" class="imgblock8cls">
                      </span>
                </div>
              </li>
              <li class="libase li8">
                  <div class="listwarppercls">
                      <h4>Cardio-vascular Disease </h4>
                      <span class="imgwrapperblock8">
                        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/block8featureimg8.jpg" class="imgblock8cls">
                      </span>
                  </div>
              </li>
            </ol>          
          </div>
        </div>
      </span>
      
       
  </mat-card>
  

 

  <mat-card class="block ts_block3">
    <span class="newcontainer">
      <span class="titlewrapper">
        <h2>Health Risk Factors Defined</h2>
      </span>
      <mat-card-content class="contentwrapper">
        <img class="listimage1" src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/ts_image1.png">
        <mat-card-subtitle>
          <strong>1</strong>
          <p>
            <span> Autonomous Nervous System Dysfunction Risk - ANSD</span>
            Problems with the ANS can range from mild to life-threatening. Sometimes, only one part of the
            nervous system is affected. In other cases, the entire ANS is affected. Some conditions are temporary
            and can be reversed, while others are chronic and will continue to worsen over time. Diseases such as Diabetes
            or Parkinson’s Disease can cause irregularities with ANS. Problems with ANS regulation often involve organ
            failure,
            or the failure of the nerves to transmit a necessary signal.
          </p>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <strong>2</strong>
          <p>
            <span> Sudomotor Dysfunction Risk - SUDOD</span>
            Sudomotor dysfunction testing may indicate to physicians a patient's peripheral nerve and cardiac sympathetic
            dysfunction.
            Neuropathy is a common complication in diabetes mellitus (DM), with 60%-70% of patients affected over their
            lifetime. Symptoms of neuropathy is more common than
            clinical neuropathy. Neuropathy may remain undetected, and progress over time leading to serious
            complications. The most
            common associated clinical condition is peripheral neuropathy, affecting the feet. Autonomic nerve involvement
            is common
            but probably the most undiagnosed. Low scores
            in the sudomotor may lead a medical provider to look at clinical neuropathy.
          </p>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <strong>3</strong>
          <p>
            <span> Endothelial Dysfunction Risk - ENDOD</span>
            Current evidence suggests that endothelial function is an integrative marker of the net effects of damage from
            traditional and emerging risk factors on the arterial wall and its intrinsic
            capacity for repair. Endothelial dysfunction, detected as the presence of reduced vasodilating response to
            endothelial stimuli, has been observed to be associated with major cardiovascular risk factors, such as aging,
            hyperhomocysteinemia, post-menopause state, smoking, diabetes, hypercholesterolemia, and hypertension.
          </p>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <strong>4</strong>
          <p>
            <span>Insulin Resistance Risk - IR</span>
            Insulin resistance is defined clinically as the inability of a known quantity of exogenous or
            endogenous insulin to increase glucose uptake and utilization in an individual as much as it does in a normal
            population. Insulin resistance occurs as part of a cluster of cardiovascular
            metabolic abnormalities commonly referred to as "The Insulin Resistance Syndrome" or "The Metabolic Syndrome".
            This cluster of abnormalities may lead to the development of Type-2
            diabetes, accelerated atherosclerosis, hypertension or polycystic ovarian syndrome depending on the genetic
            background of the individual developing insulin resistance.
          </p>
        </mat-card-subtitle>
        <img class="listimage2" src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/ts_image2.png">
        <mat-card-subtitle>
          <strong>5</strong>
          <p>
            <span>Cardiometabolic Risk - CMR</span>
            The specific factors that can cause this increased risk include obesity (particularly central),
            hyperglycemia, hypertension, insulin resistance, and dyslipoproteinemia. When patients have one or more risk
            factors and are physically inactive or smoke, the cardiometabolic risk is increased even more. Medical
            conditions that often share the above characteristics, such as type 2 diabetes, can also increase
            cardiometabolic risk. The primary focus of cardiometabolic risk treatment is the management of each high-risk
            factor, including dyslipoproteinemia,
            hypertension, and diabetes. The management of these subjects is based principally on lifestyle
            measures, but various antihypertensive, lipid-lowering, insulin-sensitizing, anti-obesity and antiplatelet
            drugs could be helpful in reducing cardiometabolic risk.
          </p>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <strong>6</strong>
          <p>
            <span>Small Fiber Neuropathy Risk - SFN</span>
            A small fiber neuropathy occurs when damage to the peripheral nerves predominantly or
            entirely affects the small myelinated fibers or unmyelinated C fibers. The specific fiber types involved in
            this process include both small somatic and autonomic fibers. The sensory
            functions of these fibers include thermal perception and nociception. These fibers are involved in many
            autonomic and enteric functions.
          </p>
        </mat-card-subtitle>
        <img class="listimage3" src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/ts_image3.png">
        <mat-card-subtitle>        
          <strong>7</strong>
          <p>
            <span>Small Fiber Neuropathy Risk - SFN</span>
            High blood glucose levels over a period of years may cause a condition called autonomic neuropathy. This is
            damage to the nerves that control the regulation of involuntary
            function. When the nerve damage affects the heart, it is called cardiac autonomic
            neuropathy (CAN). CAN encompasses damage to the autonomic nerve fibers that
            innervate the heart and blood vessels, resulting in abnormalities in heart rate control,
            vascular dynamics and the body's ability to adjust blood pressure. CAN is a significant cause of morbidity and
            mortality associated with a high risk of cardiac arrhythmias and sudden death.
          </p>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <strong>8</strong>
          <p>
            <span>Plethysmography Cardiovascular Disease Risk - PTG CVD</span>
            The PTG CVD risk factor is the combined total of the other seven risk factors assessments. It takes into
            consideration the cardiovascular as well as the autonomic nervous system (ANS) measurements.
          </p>
        </mat-card-subtitle>
      </mat-card-content>
    </span>
  </mat-card>
      

      

  <mat-card class="rm3atesting_report_block">
    <span class="rm3atesting_report_block_wrapper">

      <h2>Sample Report</h2>
      <span class="rm3atesting_report_block_wrapper_block">
        <span class="rm3reportspan_body">

           <span class="rm3reportspan" *ngFor="let item of rm3reportImg; let i = index"  (click)="openDialog(item)"  >

        <span  class="zoom_icon1">  <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/zoom_icon.png"></span>
        <span class="rm3reportspan_img">
         
        <img src="{{item.image}}" >

       
      </span>
     

   

         </span>


      </span>
        </span>

    </span>
      </mat-card>
      



     



      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>