@media(max-width:1800px) {
    .footer_form_formcon{ margin-left: -50px;}
}

@media(max-width:1700px) {
    .top_block{  width: 1400px!important;}

    .toplogo {
        width: 390px; padding: 19px 0;}

        .topmenu {width: 1010px;}

        .topmenu_wrapper{ padding: 0 19px; }
 

.topmenu button{   padding: 29px 16px;}

.footer_block1_wrapper{ width: 1400px;}

.footer_form_text{ width: 500px;}

.allergy_testing_report_wrapper {
    width: 1400px;}

    .allergy_testing_report_wrapper span{ width:436px;}

    .allergy_testing_report_wrapper span::before{ left: 45%; top: 45%; display: none;  }

    .home_bnner_text_banner {
        width: 1380px;}

        .rm3atesting_bnner_text_banner{ width: 1380px;}

            .blood-card-testing_bnner_text_banner{ width: 1380px;}

            .allergy-testing_text_banner{ width: 1380px;}

            .team_text_banner{ width: 1380px;}

            .team_banner {
                background-position: -188px top!important;
            }

}


@media(max-width:1640px) {

    .footer_form_wrapper_body {
        background-position: 110% top!important;
    }
}

@media(max-width:1580px) {
    .blood-card-testing_banner{ background-position: -120px top!important;}

    .team_banner {
        background-position: -298px top!important;
    }
}


@media(max-width:1540px) {

    .footer_form_wrapper_body {
        background-position: 126% top!important;
    }


    .topmenu{    height: 74px;}

    .topmenu button {
        padding: 19px 16px;
    }

    .toplogo {
        width: 390px;
        padding: 9px 0;}

        .allergy-testing_banner{ background-position: -128px top!important;}

        .team_banner {
            background-position: -358px top!important;
        }

}

@media(max-width:1480px) {
    .blood-card-testing_banner{ background-position: -128px top!important;}
}

@media(max-width:1440px) {

    .footer_form_text {
        width: 420px;     margin: 50px 0 50px 50px!important;
    }

    .footer_form_text p { font-size: 20px; 
        line-height: 26px; 
    }

    .top_block{  width: 1200px!important;}

    .toplogo {
        width: 300px;
        padding: 15px 0;
    }
    .topmenu {
        width: 900px;
    }

    .topmenu button {
        font-size: 20px;
        padding: 19px 14px;
    }

        .topmenu_wrapper{ padding: 0 12px; }

        .footer_block1_wrapper{ width: 1200px;}

        .allergy_testing_report_wrapper{ width: 1200px;}
        .allergy_testing_report_wrapper span{ width:370px; }


        .contact_body_wrapper {
            width: 1150px;
            margin: 0 auto;
        }

        .contact_banner_class {  width: 720px;}

        .contact_body{ padding-top: 120px!important;}

        .home_bnner_text_banner {
            width: 1190px;}

            .contact_banner_class_wrapper .contact_text_class h2 p{ font-size: 60px;}

            .contact_banner_class_wrapper .contact_text_class h3 strong{ font-size: 40px;}

            .contact_banner_class_wrapper .contact_text_class h3{font-size: 20px;}

            .rm3atesting_bnner_text_banner{ width: 1190px;}

            .blood-card-testing_bnner_text_banner{ width: 1190px;}

            .blood-card-testing_banner{ background-position: 0px top!important;}

            .allergy-testing_text_banner{ width: 1190px;}

            .allergy-testing_banner {
                background-position: -188px top!important;
            }


            .team_text_banner{ width: 1190px;}
}

@media(max-width:1360px) {
    .footer_form_wrapper_body {
        background-position: 140% top!important;
    }

    .top_block_wrapper{ top: 20px;}

    .con_form_body{ margin-top: 5px;}
}


@media(max-width:1300px) {
    .footer_form_formcon {
        width: 456px;}

        .footer_form_formcon_wrapper .mat-card-content .mat-form-field {
            width: 216px;}
}


@media(max-width:1240px) {

    .footer_form_text {
        width: 390px;}

    .top_block{  width: 1180px!important;}

    .footer_block1_wrapper{ width: 1150px;}

 
    .topmenu {
        width: 880px;
    }

    .topmenu button {
        font-size: 20px;
        padding: 19px 12px;
    }

    .allergy_testing_report_wrapper{ width: 1160px;}
    .allergy_testing_report_wrapper span{ width:356px; }
}


@media(max-width:1199px) {

    .footer_form_text {
        width: auto;
        margin: 50px 25px!important; float: none;
    }

    .footer_form_wrapper_body {
        background-position: right bottom!important;
    }

    .footer_form_formcon {
        margin-left: 0;
        margin-top: 0px;
    }

    .top_block{  width:100%!important;}
    .top_block_wrapper{ position: initial; left: 0; top:0;  width: 100%;}

    .toplogo {
        width:100%; display: block;     padding: 15px 0; clear: both; overflow: hidden;
    }

    .toplogo img{ display: block; margin: 0 0 0 15px; float: left;}

    .topmenu {
        width: 100%; height: auto;
    }

    .topmenu_wrapper{ padding: 0 0px; }

    .topmenu button {
        font-size: 22px;
        padding:12px; text-align: center; display: block; text-align: center; border-top: solid 1px #fff; width: 100%; border-radius: 0px; 
    }

    .topmenu button:hover{ background-image: none!important; background-color: #000000;}

    .topmenu button.active{  background-image: none!important; background-color: #000000;}

    
    .menuicon {
        display: block;
        width: 30px;
        float: right;
        margin-top: 15px;
        color: #fff;
        background: #ff0000;
        margin-right: 15px; 
        padding: 8px 4px 3px 4px;
    }

    .menuhide{ display: none;  }

    .menushow{ display: block;  display:block; }


    .footer_block1_wrapper{ width: 100%;}

    .footer_block_con{display: block; padding: 0 15px;}

    .footer_block_con1 {
        display: block;
        align-items: inherit;
        width: 100%;
        text-align: center;
    }

    .footer_block_con2 {
        border-left: none;
        padding-top: 25px; padding-bottom: 25px;
        padding-left: 0;
        width: 100%;
        text-align: center; display: block;
    }


    .footer_block_con3 {
        border-left: none; display: block;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .footer_block_con2_wrapper span:last-child {
        border-left: none;
        padding-left: 0;
    }

    .footer_block_con2_wrapper span {
        display: inline-block;
    }
    .footer_block_con2_wrapper span button{ width: auto;}

    .footer_block_con2_wrapper {
        display: block;
    }

    .footer_block_con3 label{ display: block;}

    .footer_block_con3 label span {
        display: block;
        padding-left: 0;
    }

    .allergy_testing_report_wrapper{ width: 991px;}
    .allergy_testing_report_wrapper span{ width:465px; }

    .bigimageform{ width: 90vw; height: 400px; }


    .contact_body_wrapper {
        width:96%;
        margin: 0 auto;
    }

    .contact_banner_class {  width:100%; float: none; text-align: center;     margin: 0 0 25px 0!important;}

    .contact_body{ padding-top: 30px!important;}

    .contact_banner_class img { width: auto;
        max-width: 100%;
    }

    .con_form_body {
        width: 100%;
        display: block;
        float: none;
        margin: 0px 0 40px 0;
    }

    .home_bnner_text_banner {
        width: 100%;}


        .home_bnner_text { 
            width: 100%; 
            text-align: center;     margin-top: 0;
        }

        .home_banner{ height: auto!important; background-size: 120%!important; padding-top: 48%!important; min-height: inherit!important;}

        .contact_banner_class_wrapper {
            display: block;
        }

        .contact_banner_class_wrapper .contact_text_class {
            display: block;
            width: 100%;
        }

        .contact_address_class {
            width: auto;
            height: 320px;}
        
}


@media(max-width:1024px) {
    .footer_form_wrapper_body {
        background-position: 130% bottom!important;
    }

    .allergy_testing_report_wrapper{ width:767px;}
    .allergy_testing_report_wrapper span{ width:352px; }
}

@media(max-width:960px) {
    .footer_form_wrapper_body {
        background-position: center bottom!important;
        background-size: 110%!important;
        padding-bottom: 90%!important;
    }

    .footer_form_formcon {
        width:auto;
        margin-left: 25px;
        margin-right:  25px;
        float: none;
        margin-top: 0px;
        background: none;
        padding: 0px;
    }

    .footer_form_text {
        width: auto;
        margin: 25px 25px 35px 25px!important;
        float: none;
    }

    .footer_form_formcon_wrapper .mat-card-content label {
        display: block;
        width: 100%;
        padding-top: 0;
        padding-bottom: 10px;
        float: none;
        font-size: 18px;
        color: #2e2f2f;
        font-family: 'Helvetica-Normal';
        font-weight: normal;
    }

    .footer_form_formcon_wrapper .mat-card-content .mat-form-field {
        width: 99%;
        margin: 0px;
        display: block;
        float: none;
        padding: 5px 0%;
    }

    .footer_form_formcon_wrapper .mat-card-content .mat-form-field input{ padding-left: 5px; padding-right: 5px;}
    .footer_form_formcon_wrapper .mat-card-content .mat-form-field textarea{ padding-left: 5px; padding-right: 5px;}

    .footer_form_formcon_wrapper .subbtn{ margin-top: 10px;}
}


@media(max-width:800px) {

.allergy_testing_report_wrapper{ width:600px; }
.allergy_testing_report_wrapper span{ width:270px;  }

.allergy_testing_report_wrapper span::before {
    left: 36%;
    top: 36%;}

    .home_banner {
        height: auto!important;
        background-size: 190%!important;
        padding-top: 76%!important;
        background-position: center top!important;
    }
}


@media(max-width:640px) {
    .allergy_testing_report_wrapper{ width:100%; display: block; }
    .allergy_testing_report_wrapper span{ width:90%; display: block; margin: 10px auto;  }

    .allergy_testing_report_wrapper span::before {
        left: 45%;
        top: 45%;
    }

    .home_bnner_text h2 p { 
        font-size: 56px;
        line-height: 54px;}

        .contact_banner_class_wrapper .contact_text_class h2 p {
            font-size: 56px;
        }
}

@media(max-width:500px) {

    .toplogo img{ width: 300px;}

    .menuicon{ margin-top: 5px;}

    .footer_form_formcon_wrapper .mat-card-content{    margin: 0 10px 10px 10px;}

    .footer_form_formcon_wrapper .subbtn{ margin-right: 10px;}

    .home_bnner_text h2 p {
        font-size: 44px;
        line-height: 44px;
    }

    .contact_banner_class_wrapper .contact_text_class h2 p {
        font-size: 44px;
    }
}


@media(max-width:440px) {

.allergy_testing_report_wrapper span::before {
    left: 40%;
    top: 40%;
}

.contact_banner_class_wrapper .contact_text_class h3 strong {
    font-size: 28px;
    padding-bottom: 15px;
}

.contact_banner_class_wrapper .contact_text_class h3 {
    font-size: 18px;
    line-height: 26px;
}

}

@media(max-width:380px) {

    .toplogo img{ width: 240px;}

    .menuicon{ margin-top: 0px;}

    .home_bnner_text h2 p {
        font-size: 38px;
        line-height: 40px;
    }

    .home_bnner_text h2 { padding: 15px;}

    .home_bnner_text h3{ padding: 15px; font-size: 26px;  line-height: 30px;}

    .contact_banner_class_wrapper .contact_text_class h2 p {
        font-size:38px;
    }


    .contact_banner_class_wrapper .contact_text_class h2{ padding: 15px;}
   
    .contact_banner_class_wrapper .contact_text_class h3{ padding: 15px;}

    
}