@font-face{
    font-family:'Helvetica-Normal';
    src: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/fonts/Helvetica-Normal.woff2) format("woff2"),
     url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/fonts/Helvetica-Normal.woff) format("woff");
     font-weight:400;font-style:normal;}

     @font-face{
      font-family:'HelveticaBold';
 
      src: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/fonts/Helvetica-Bold.woff2) format("woff2"),
      url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/fonts/Helvetica-Bold.woff) format("woff");
      font-weight:700;font-style:normal;}
 

   
 
 body{ margin: 0; padding: 0; background: #fff;}
 
 .clear{ clear: both; overflow: hidden; display: block; margin: 0; padding: 0;}

 .mat-card{border-radius: 0px!important;}

 
/*----loder----------*/
.loderbody{width:100vw; height:100vh; display:table-cell; vertical-align:middle; text-align:center; background: #ffffff;}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e30018;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

/*------loder end-------*/

.top_block{ display: block; width: 1670px!important; margin: 0 auto; padding: 0px!important; position: relative!important; background: none!important; border: none!important; box-shadow: none!important;}

.top_block_wrapper{ position: absolute; left: 0; top:34px; z-index: 99; background: #fff; display: block; width: 100%;}

.clear{ clear: both!important; overflow: hidden!important; display: block!important; margin: 0!important; padding: 0!important;}

.toplogo{ width: 490px; float: left; text-align: center; padding: 10px 0;}


.toplogo img{ display: block; margin: 0 auto; max-width: 90%;}

.topmenu{   width: 1180px; display: block; float: right; background: #e30018; height: 94px;}

.topmenu_wrapper{ padding: 0 32px; display: block;}
 

.topmenu button{font-size: 22px; color: #fff;   font-family:'Helvetica-Normal';   padding: 29px 28px;}


.topmenu button:hover{ background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/hoverbg.png) no-repeat center bottom; }

.topmenu .active{ background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/hoverbg.png) no-repeat center bottom; }

.menuicon{ display: none;}



.footer_block1{ background: #151d20; margin:0 0 0 0; border-top: solid 10px #576c68; background: #151d20!important; padding: 0px!important;}


.footer_block2{ background: #010101; margin: 0; padding: 18px 0!important; border-top: solid 1px #576c68; background: #010101!important;
   text-align: center; font-size: 13px; color: #777777;   font-family:'Helvetica-Normal';}

   .footer_block2 span{ display: inline-block; padding: 2px 6px; font-size: 13px; color: #777777;   font-family:'Helvetica-Normal';}

   .footer_block2 span:nth-child(1),   .footer_block2 span:nth-child(2){ cursor: pointer;}


   .footer_block1_wrapper{ width: 1670px; padding: 50px 0; margin: 0 auto; }

   .footer_block_con{display: flex;}

   .footer_block_con1{   display: flex;
    align-items: center; width: 35%;}

    .footer_block_con1 img{ max-width: 90%;}

   .footer_block_con2{ border-left: solid 1px #283134; padding-left: 40px; width: 40%; }

.footer_block_con2_wrapper{display: flex;}

   .footer_block_con2_wrapper span{ display: block; }

   .footer_block_con2_wrapper span:last-child{border-left: solid 1px #283134; padding-left: 30px;}

   .footer_block_con2_wrapper span button{ background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/footer_menuicon.png) no-repeat  left 10px;      width: 160px;
    text-align: left; font-size: 18px; color: #949797; font-family:'Helvetica-Normal';}

    .footer_block_con2_wrapper span button.active{color: #13783f;}


   .footer_block_con3{ border-left: solid 1px #283134; padding-left: 40px; width: 25%;}

   .footer_block_con3 .material-icons{ color: #13783f; display: block;}

   .footer_block_con3 label{ margin: 0; display: flex; padding: 0; font-size: 18px; color: #949797; font-family:'Helvetica-Normal';  width: 100%; margin-bottom: 12px;}

   .footer_block_con3 label a{ color: #949797; text-decoration: none;}

   .footer_block_con3 label span{ display: block; padding-left: 30px;}
   .footer_block_con h2{ margin: 0; padding: 0 0 25px 0; font-size: 24px; color: #fff;  font-family:'Helvetica-Normal'; font-weight: normal;}




   .clear{ clear: both; overflow: hidden; display: block;}


   .footer_form_body{ background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/footer_form_bg1.jpg) no-repeat left top!important; background-size: cover!important;    display: block!important; border-top:solid 1px #fff!important; margin: -4px 0 0 0!important; padding: 0!important;}

   .footer_form_wrapper_body { background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/footer_form_bg2.png) no-repeat right top!important;   display: block!important; border: none!important; margin: 0!important; padding: 0!important; overflow: hidden;}

   .footer_form_text{ display: block; float: left; margin: 50px 0 50px 80px!important; width: 590px;}

   .footer_form_text h2{ font-size: 48px; color: #2e2f2f; margin: 0px; padding: 0px; font-weight: normal; font-family:'Helvetica-Normal';}

   .footer_form_text h2::after{ content: ''; display: block; width: 100%; height: 8px; border-radius: 10px; margin:0 ; background: rgba(29,187,231,1);
    background: -moz-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,187,231,1)), color-stop(100%, rgba(12,195,5,1)));
    background: -webkit-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
    background: -o-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
    background: -ms-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
    background: linear-gradient(to right, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbbe7', endColorstr='#0cc305', GradientType=1 );} 

    .footer_form_text p{ margin: 0; padding: 20px 0 0 0; font-size: 22px; color: #2e2f2f; line-height: 30px;  font-weight: normal; font-family:'Helvetica-Normal';}

    .footer_form_formcon{ width: 556px; display: block; float: left; background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/form_shadow.png) no-repeat left bottom; padding-left: 82px; margin: 42px 0;}

    .footer_form_formcon_wrapper{ padding: 8px; display: block; border: solid 1px #b3c0c7; border-radius: 10px; background: rgba(206,224,235,1);
      background: -moz-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(206,224,235,1)), color-stop(100%, rgba(207,225,235,1)));
      background: -webkit-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: linear-gradient(135deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee0eb', endColorstr='#cfe1eb', GradientType=1 );}

      .footer_form_formcon_wrapper h3{ display: block; background: rgba(29,187,231,1);
        background: -moz-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,187,231,1)), color-stop(100%, rgba(12,195,5,1)));
        background: -webkit-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: -o-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: -ms-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: linear-gradient(to right, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbbe7', endColorstr='#0cc305', GradientType=1 ); text-align: center; padding: 15px; padding-bottom: 12px; 
         
        font-size: 34px; color: #ffffff;   font-family:'Helvetica-Normal'; margin:0 0 30px 0;  border: solid 1px #fff; line-height: 36px; text-shadow: 0 0 5px #187b93;}

        .footer_form_formcon_wrapper .mat-card-content{ display: block; margin: 0 20px 10px 20px; clear: both; overflow: hidden;}

        .footer_form_formcon_wrapper .mat-card-content label{ display: block; width: 160px; padding-top: 10px; float: left; font-size: 18px; color: #2e2f2f; font-family:'Helvetica-Normal'; font-weight: normal;}

        .footer_form_formcon_wrapper .mat-card-content label span{ color: #ff0000;}
        .footer_form_formcon_wrapper .mat-card-content .mat-form-field{ width: 296px;     padding: 5px 10px; float: right; border: solid 1px #83a5b7; background: #fff;}

        .footer_form_formcon_wrapper  .mat-form-field-underline{ display: none;}

        .footer_form_formcon_wrapper  .mat-form-field-label-wrapper{display: none;}

        .footer_form_formcon_wrapper  .mat-form-field-infix{ border: 0px;}

        .footer_form_formcon_wrapper  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
          padding-bottom: 0;
      }

      .footer_form_formcon_wrapper   textarea.mat-input-element{ resize: none;}

      .footer_form_formcon_wrapper .subbtn{display: block; float: right; width: 172px; margin-bottom: 10px; background: rgba(34,60,76,1);
        background: -moz-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,60,76,1)), color-stop(100%, rgba(15,29,40,1)));
        background: -webkit-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: -o-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: -ms-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: linear-gradient(to bottom, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223c4c', endColorstr='#0f1d28', GradientType=0 ); border-radius: 4px; margin-right: 20px;
       font-size: 24px; color: #fff; text-transform: uppercase; font-family:'Helvetica-Normal'; padding: 8px 0 2px 0; font-weight: normal;
      
      }


      .footer_form_formcon input.mat-input-element {
        margin-top: 0;
        height: 25px;
    }

 
    .footer_form_formcon  .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
  }

  .footer_form_formcon  .mat-select-value { 
    padding: 5px 0;
}

.footer_form_formcon textarea.mat-input-element {
  padding: 2px 0;
  margin: 0px 0;
  height: 50px;
}


.allergy-testing_report{ box-shadow: none; border: none; background: #d6e4e3!important; margin: -4px 0 0 0!important; padding: 0 0 40px 0!important;}

.allergy_testing_report_wrapper{ width: 1620px; margin: 0 auto; display: flex; padding: 0!important;}

.allergy_testing_report_wrapper span{ width: 510px; overflow: hidden;display: inline-flex;     border:5px solid #fff;
  box-shadow: 0px 0px 8px #888; margin: 10px; background-color:#000;     position: relative;}

.allergy_testing_report_wrapper span img{ width: 100%;}

.allergy-testing_report h2{ font-size: 48px; color: #020819; font-family:'Helvetica-Normal'; text-transform: uppercase; text-align: center; padding: 40px 15px 10px 15px; margin: 0; font-weight: bold;}

.allergy_testing_report_wrapper span:hover img{ opacity: 0.7;} 

.allergy_testing_report_wrapper span::before{ content: '';  background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/zoom_icon.png) no-repeat center center; width: 77px; height: 77px; position: absolute;
  left: 216.5px; top: 216.5px; display: none;  }
 
  .allergy_testing_report_wrapper span:hover::before{display: block; z-index: 99;}

  .bigimageform{ width: 90vw; height: 90vh; }
  .bigimageform img{ width: 100%; }

  .bigimageform .mat-dialog-container{ padding: 10px;}

  .contact_body{background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/contact_bg.jpg) no-repeat left top!important; background-size: cover!important; margin: 0!important; padding: 150px 0 0 0!important; }

  .contact_body_wrapper{ width: 1380px; margin: 0 auto;}

  .contact_banner_class{ display: block; width: 956px; float: left;  margin: 130px 0 25px 0!important;}

  .contact_banner_class_wrapper{ display: flex;}

 

  .contact_banner_class_wrapper .contact_text_class{ display: block; width:570px ;}

  .contact_banner_class_wrapper .contact_text_class h2{ margin: 0; padding: 26px; background: rgba(29,188,232,1);
    background: -moz-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,188,232,1)), color-stop(100%, rgba(13,195,10,1)));
    background: -webkit-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
    background: -o-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
    background: linear-gradient(to right, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbce8', endColorstr='#0dc30a', GradientType=1 );}

    .contact_banner_class_wrapper .contact_text_class h2 p{ margin: 0; padding: 0;  color: #4c584f; position: relative;   font-size: 76px;   line-height:70px; text-transform: uppercase; font-weight: bold;}

      .contact_banner_class_wrapper .contact_text_class h3{ background: #212a36; margin: 0;  padding: 26px; font-size: 29px; color: #b1afaf; line-height: 32px; font-weight: normal;}
      .contact_banner_class_wrapper .contact_text_class h3 strong{ display: block; font-size: 48px; padding-bottom: 20px; font-weight: normal;}

      .contact_address_class{ width: 386px; display: block; border: solid 10px #fff; box-shadow: 0 0 2px #888;}
      .contact_address_class iframe{ width: 100%; height: 100%; border: solid 1px #ccc;}



   


           .contact_banner_class_wrapper .contact_text_class h2 p:after {
            content: attr(data-title);
            margin: 0;
            padding: 0;
            background: -webkit-linear-gradient(#fafafa, #d2d2d2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         
            text-transform: uppercase;
            font-weight: bold;
            position: absolute;
            top: -2px;
            right: 0;
            bottom: 0;
            left: -2px;
        }

  /* .contact_banner_class img{ width: 100%;} */


  /*----------------*/

  .con_form_body{ width:400px; display: block; float: right; margin:20px 0 40px 0;}

    .con_form_wrapper{ padding: 8px; display: block; border: solid 1px #b3c0c7; border-radius: 10px; background: rgba(206,224,235,1);
      background: -moz-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(206,224,235,1)), color-stop(100%, rgba(207,225,235,1)));
      background: -webkit-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      background: linear-gradient(135deg, rgba(206,224,235,1) 0%, rgba(207,225,235,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee0eb', endColorstr='#cfe1eb', GradientType=1 );}

      .con_form_wrapper h3{ display: block; background: rgba(29,187,231,1);
        background: -moz-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,187,231,1)), color-stop(100%, rgba(12,195,5,1)));
        background: -webkit-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: -o-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: -ms-linear-gradient(left, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        background: linear-gradient(to right, rgba(29,187,231,1) 0%, rgba(12,195,5,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbbe7', endColorstr='#0cc305', GradientType=1 ); text-align: center; padding:25px 15px; padding-bottom: 20px; 
         
        font-size:36px; text-transform: uppercase; color: #ffffff;   font-family:'Helvetica-Normal'; margin:0 0 10px 0;  border: solid 1px #fff; line-height: 36px; text-shadow: 0 0 5px #187b93;}

        .con_form_wrapper .mat-card-content{ display: block; margin: 0 20px 10px 20px; clear: both; overflow: hidden;}

        .con_form_wrapper .mat-card-content label{ display: block; width: 100%; padding-top: 10px;font-size: 18px; color: #2e2f2f; font-family:'Helvetica-Normal'; font-weight: normal;}

        .con_form_wrapper .mat-card-content label span{ color: #ff0000;}
        .con_form_wrapper .mat-card-content .mat-form-field{padding: 5px 10px; float: none; border: solid 1px #83a5b7; background: #fff; display: block;}

        .con_form_wrapper  .mat-form-field-underline{ display: none;}

        .con_form_wrapper  .mat-form-field-label-wrapper{display: none;}

        .con_form_wrapper  .mat-form-field-infix{ border: 0px;}

        .con_form_wrapper  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
          padding-bottom: 0;
      }

      .con_form_wrapper   textarea.mat-input-element{ resize: none;}

      .con_form_wrapper .subbtn{display: block;  width: 100%;     margin-top: 15px!Important; margin-bottom: 10px; background: rgba(34,60,76,1);
        background: -moz-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,60,76,1)), color-stop(100%, rgba(15,29,40,1)));
        background: -webkit-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: -o-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: -ms-linear-gradient(top, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        background: linear-gradient(to bottom, rgba(34,60,76,1) 0%, rgba(15,29,40,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223c4c', endColorstr='#0f1d28', GradientType=0 ); border-radius: 4px; margin-right: 20px;
       font-size: 24px; color: #fff; text-transform: uppercase; font-family:'Helvetica-Normal'; padding: 8px 0 2px 0; font-weight: normal;
      
      }


      .loderimg{ display: block; margin: 0 auto; max-width: 90%; margin-bottom: 25px;}


      /*-------------home banner-------------*/


      .home_banner{ border: none; border-radius: 0px; background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/home_banner_bg.jpg) no-repeat left top!important; background-size: 1920px!important; min-height: 792px; padding: 0px!important;}

      .home_bnner_text_banner{ width: 1670px; margin: 0 auto; display: block;  overflow: hidden;}

      .home_bnner_text{ display: block; width: 622px; margin-top: 250px;}

      .home_bnner_text h2{ margin: 0; padding: 26px; background: rgba(29,188,232,1);
        background: -moz-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,188,232,1)), color-stop(100%, rgba(13,195,10,1)));
        background: -webkit-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: -o-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: -ms-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: linear-gradient(to right, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbce8', endColorstr='#0dc30a', GradientType=1 );}

        .home_bnner_text h2 p{ margin: 0; padding: 0;   position: relative;  color: #4c584f; font-size: 76px;   line-height:70px; text-transform: uppercase; font-weight: bold;}

          .home_bnner_text h3{ background: #212a36; margin: 0;  padding: 26px; font-size: 29px; color: #b1afaf; line-height: 32px; font-weight: normal;}



          .home_bnner_text h2 p:after {
            content: attr(data-title);
            margin: 0;
            padding: 0;
            background: -webkit-linear-gradient(#fafafa, #d2d2d2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         
            text-transform: uppercase;
            font-weight: bold;
            position: absolute;
            top: -2px;
            right: 0;
            bottom: 0;
            left: -2px;
        }
          
      .rm3atesting_banner{ border: none; border-radius: 0px; background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/rm3atesting_banner.jpg) no-repeat left top!important; background-size: 1920px!important; min-height:620px; padding: 0px!important;}

      .rm3atesting_bnner_text_banner{ width: 1670px; margin: 0 auto; display: block;  overflow: hidden;}

      .rm3atesting_bnner_text{ display: block; width:700px; margin-top: 174px;}

      .rm3atesting_bnner_text h2{ margin: 0; padding: 26px; background: rgba(29,188,232,1);
        background: -moz-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,188,232,1)), color-stop(100%, rgba(13,195,10,1)));
        background: -webkit-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: -o-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: -ms-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        background: linear-gradient(to right, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbce8', endColorstr='#0dc30a', GradientType=1 );}

        .rm3atesting_bnner_text h2 p{ margin: 0; padding: 0; position: relative;  color: #4c584f;  font-size: 76px;   line-height:70px; text-transform: uppercase; font-weight: bold;}

          .rm3atesting_bnner_text h3{ background: #212a36; margin: 0;  padding: 26px; font-size: 29px; color: #b1afaf; line-height: 32px; font-weight: normal;}



          .rm3atesting_bnner_text h2 p:after {
            content: attr(data-title);
            margin: 0;
            padding: 0;
            background: -webkit-linear-gradient(#fafafa, #d2d2d2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         
            text-transform: uppercase;
            font-weight: bold;
            position: absolute;
            top: -2px;
            right: 0;
            bottom: 0;
            left: -2px;
        }






          .blood-card-testing_banner{ border: none; border-radius: 0px; background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/blood-card-testing_banner.jpg) no-repeat left top!important; background-size: 1920px!important; min-height:620px; padding: 0px!important;}

          .blood-card-testing_bnner_text_banner{ width: 1670px; margin: 0 auto; display: block;  overflow: hidden;}
    
          .blood-card-testing_bnner_text{ display: block; width:700px; margin-top: 174px;}
    
          .blood-card-testing_bnner_text h2{ margin: 0; padding: 26px; background: rgba(29,188,232,1);
            background: -moz-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,188,232,1)), color-stop(100%, rgba(13,195,10,1)));
            background: -webkit-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
            background: -o-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
            background: -ms-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
            background: linear-gradient(to right, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbce8', endColorstr='#0dc30a', GradientType=1 );}
    
            .blood-card-testing_bnner_text h2 p{ position: relative; display: block; margin: 0; padding: 0; 
          font-size: 76px;   line-height:70px; text-transform: uppercase; font-weight: bold; color: #4c584f;}
    
              .blood-card-testing_bnner_text h3{ background: #212a36; margin: 0;  padding: 26px; font-size: 29px; color: #b1afaf; line-height: 32px; font-weight: normal;}


              .blood-card-testing_bnner_text h2 p:after {
                content: attr(data-title);
                margin: 0;
                padding: 0;
                background: -webkit-linear-gradient(#fafafa, #d2d2d2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
             
                text-transform: uppercase;
                font-weight: bold;
                position: absolute;
                top: -2px;
                right: 0;
                bottom: 0;
                left: -2px;
            }





            .allergy-testing_banner{ border: none; border-radius: 0px; background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/allergy-testing_banner.jpg) no-repeat left top!important; background-size: 1920px!important; min-height:620px; padding: 0px!important;}

            .allergy-testing_text_banner{ width: 1670px; margin: 0 auto; display: block;  overflow: hidden;}
      
            .allergy-testing_bnner_text{ display: block; width:710px; margin-top: 174px;}
      
            .allergy-testing_bnner_text h2{ margin: 0; padding: 26px; background: rgba(29,188,232,1);
              background: -moz-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,188,232,1)), color-stop(100%, rgba(13,195,10,1)));
              background: -webkit-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
              background: -o-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
              background: -ms-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
              background: linear-gradient(to right, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbce8', endColorstr='#0dc30a', GradientType=1 );}
      
              .allergy-testing_bnner_text h2 p{ position: relative; display: block; margin: 0; padding: 0; 
            font-size: 76px;   line-height:70px; text-transform: uppercase; font-weight: bold; color: #4c584f;}
      
                .allergy-testing_bnner_text h3{ background: #212a36; margin: 0;  padding: 26px; font-size: 29px; color: #b1afaf; line-height: 32px; font-weight: normal;}
  
  
                .allergy-testing_bnner_text h2 p:after {
                  content: attr(data-title);
                  margin: 0;
                  padding: 0;
                  background: -webkit-linear-gradient(#fafafa, #d2d2d2);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
               
                  text-transform: uppercase;
                  font-weight: bold;
                  position: absolute;
                  top: -2px;
                  right: 0;
                  bottom: 0;
                  left: -2px;
              }






              .team_banner{ border: none; border-radius: 0px; background: url(https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_banner.jpg) no-repeat left top!important; background-size: 1920px!important; min-height:620px; padding: 0px!important;}

              .team_text_banner{ width: 1670px; margin: 0 auto; display: block;  overflow: hidden;}
        
              .team_bnner_text{ display: block; width:710px; margin-top: 174px; text-align: center;}
        
              .team_bnner_text h2{ margin: 0; padding: 26px; background: rgba(29,188,232,1);
                background: -moz-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,188,232,1)), color-stop(100%, rgba(13,195,10,1)));
                background: -webkit-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
                background: -o-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
                background: -ms-linear-gradient(left, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
                background: linear-gradient(to right, rgba(29,188,232,1) 0%, rgba(13,195,10,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbce8', endColorstr='#0dc30a', GradientType=1 );}
        
                .team_bnner_text h2 p{ position: relative; display: block; margin: 0; padding: 0; 
              font-size: 76px;   line-height:70px; text-transform: uppercase; font-weight: bold; color: #4c584f;}
        
                  .team_bnner_text h3{ background: #212a36; margin: 0;  padding: 26px; font-size: 29px; color: #b1afaf; line-height: 32px; font-weight: normal;}
    
    
                  .team_bnner_text h2 p:after {
                    content: attr(data-title);
                    margin: 0;
                    padding: 0;
                    background: -webkit-linear-gradient(#fafafa, #d2d2d2);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                 
                    text-transform: uppercase;
                    font-weight: bold;
                    position: absolute;
                    top: -2px;
                    right: 0;
                    bottom: 0;
                    left: -2px;
                }