<mat-card class="top_block">

  <mat-card-content class="top_block_wrapper">

<span class="toplogo"><a href="javascript:void(0)" routerLink="/home"><img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/logo.png" alt="#"></a>

  <span class="menuicon" (click)="clickEvent()"    >
  <i class="material-icons">
    menu
    </i>  
  </span>
</span>



  
  <span class="topmenu"  [ngClass]="status ? 'menushow' : 'menuhide'">
    <span class="topmenu_wrapper">

      <button mat-button routerLink="/home"   routerLinkActive="active" >Home      </button>
      <button mat-button routerLink="/rm3atesting"   routerLinkActive="active">RM-3A Testing        </button>
     <button mat-button routerLink="/blood-card-testing" >Blood Card Testing       </button>
  
        <button mat-button routerLink="/allergy-testing" > Allergy Testing     </button>
      <button mat-button routerLink="/team"   routerLinkActive="active">The Team </button>
       <button mat-button routerLink="/contact-us" >Contact Us</button>


</span>
</span>

<span class="clear"></span>

</mat-card-content>

</mat-card>


