<app-top></app-top>



<mat-card class="team_banner">
  <span class="team_text_banner">
  <span class="team_bnner_text">
  <h2>
    <p data-title="THE TEAM ">THE TEAM </p>
    
      
  </h2>
  <h3>Comprehensive Reporting on Traditional<br/> Risk Factors, through a non-invasive<br/> testing to the masses! 


  </h3>

  </span>
</span>

</mat-card>

<span style="position: relative; display: block; margin-top: -4px;">
  <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_img2.jpg" alt="#" style="width: 100%;">

  </span>

  <span style="position: relative; display: block; margin-top: -4px;">
    <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_img3.jpg" alt="#" style="width: 100%;">
  
    </span>

    <span style="position: relative; display: block; margin-top: -4px;">
      <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_img4.jpg" alt="#" style="width: 100%;">
    
      </span>

    
<app-footer></app-footer>