<app-top></app-top>



<mat-card class="team_banner">
  <span class="team_text_banner">
  <span class="team_bnner_text">
  <h2>
    <p data-title="THE TEAM ">THE TEAM </p>
    
      
  </h2>
  <h3>Comprehensive Reporting on Traditional<br/> Risk Factors, through a non-invasive<br/> testing to the masses! 


  </h3>

  </span>
</span>

</mat-card>





  <mat-card class="team_block1">
  <span class="team_block1_wrapper">
 <h2>THE TEAM</h2>
 <h3>Just like any other successful organization, we have a group of talented and well-trained professionals, who work tirelessly to offer top-notch services to our clients and partners. It is to them that we owe our 
  thanks for the grand success we have been able to achieve.</h3>

  
  <span class="team_list_wrapper">


  <span class="team_list">
    <span class="team_list_img">
      <span class="team_list_img_block">
   <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic1.png"/>
   </span>
    </span>

    <span class="team_list_text">
      <label>Gary Michael White</label>
      <p>Managing Partner</p>
    </span>
 </span>

 <span class="team_list">
  <span class="team_list_img">
    <span class="team_list_img_block">
 <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic2.png"/>
 </span>
  </span>

  <span class="team_list_text">
    <label>Tripp Jones</label>
    <p>Managing Partner</p>
  </span>
</span>

<span class="team_list">
  <span class="team_list_img">
    <span class="team_list_img_block">
 <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic3.png"/>
 </span>
  </span>

  <span class="team_list_text">
    <label>Christopher Rondon</label>
    <p>Managing Partner</p>
  </span>
</span>


<span class="team_list">
  <span class="team_list_img">
    <span class="team_list_img_block">
 <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic4.png"/>
 </span>
  </span>

  <span class="team_list_text">
    <label>Beto Paredes</label>
    <p>Business Development /<br/> 
      Engineering</p>
  </span>
</span>

<span class="teamdevider"></span>


<!-- <span class="team_list">
  <span class="team_list_img">
    <span class="team_list_img_block">
 <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic5.png"/>
 </span>
  </span>

  <span class="team_list_text">
    <label>Kyle Stozek</label>
    <p>Engineering</p>
  </span>
</span> -->


 

<span class="team_list">
  <span class="team_list_img">
    <span class="team_list_img_block">
 <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic6.png"/>
 </span>
  </span>

  <span class="team_list_text">
    <label>Lannah Paredes</label>
    <p>Sales Management</p>
  </span>
</span>

<span class="team_list">
  <span class="team_list_img">
    <span class="team_list_img_block">
 <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic7.png"/>
 </span>
  </span>

  <span class="team_list_text">
    <label>Debasis Kar</label>
    <p>Chief Engineer</p>
  </span>
</span>

<span class="team_list">
  <span class="team_list_img">
    <span class="team_list_img_block">
 <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/team_pic8.png"/>
</span>
  </span>

  <span class="team_list_text">
    <label>Subhra Ghatak</label>
    <p>Project Management</p>
  </span>
</span>

<span class="clear"></span>

    </span>




  
  </span>


</mat-card>  


<mat-card class="team_block2">

  <h2>PARTNERSHIPS</h2>
  <span class="team_block2_heading1">AWS</span>

  <span class="team_block2_body">

    <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/hpsdiagnostics.png" alt="#" class="aws_banner_img2">

    <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/aws_banner_img3.png" alt="#" class="aws_banner_img3">

    <a href="https://hpsdiagnostics.com/" target="_blank"   class="team_block2_link"> VISIT WEBSITE NOW</a>
   
  </span>


</mat-card>


<mat-card class="team_block3">
  <span class="team_block3_heading1">Beto Paredes </span>

  <span class="team_block3_body">
    <!-- <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/aws_banner_img7.png" alt="#" class="aws_banner_img7"> -->

    <span class="team_block3_body_text">

      <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/aws_banner_img5.png">

      <span class="deviderblock"></span>

        <p>
          <strong>Beto Paredes Family of Companies</strong> is a joint venture 
          technology and business development company. They are 
          composed of thought leaders, consultants, sales professionals, 
          software engineers, designers, content creators and project 
          managers. Beto Paredes specializes  in national and global 
          initiatives in internet based software platforms and 
          medical industry technology and projects.

        </p>
      
    </span>

   
    <a href="https://betoparedes.com/" target="_blank"   class="team_block3_link"> Visit the Beto Paredes Family of Companies Website </a>
    </span>

    

</mat-card>
 
    
<app-footer></app-footer>