<app-top></app-top>


<mat-card class="home_banner">
  <span class="home_bnner_text_banner">
  <span class="home_bnner_text">
  <h2>
    <p data-title="Humanitarian">Humanitarian </p>
    <p data-title="Health Care">Health Care  </p>
    <p data-title="Initiative">Initiative</p>
  </h2>
  <h3>Providing countries with aggregated health data so they can provide their health system a better opportunity to improve health outcomes! </h3>

  </span>
</span>

</mat-card>



<mat-card class="home_block1">

  <span class="home_block1_body">
    <span class="home_block1_wrapper">

      <h2>Global Humanitarian Healthcare Initiative</h2>

      <h3>At DataMed Unlimited, an Applied Science Solutions technology, it is our goal to monitor health trends supporting and facilitating the prediction of events and early-warning systems in a preventative manner. At our core, we work at sustaining the monitoring and evaluation of health reforms and priority health programs; enabling the generation and sharing of evidence for policy and decision-making.
<br/><br/>
        We are establishing and maintaining networks and communities of practice for the application of evidence and knowledge sharing. </h3>


        <a href="javascript:void(0)" routerLink="/contact-us">learn more</a>
    </span>

  </span> 
</mat-card>


<mat-card class="home_block2">

  
  <span class="home_block2_body">


    <span class="home_block2_con">
      <h2>Diagnostic Services to the Masses</h2>

      <p>Through a coordinated effort of resources, science and a central data management platform, DataMed Unlimited provides a scalable model that will have a significant impact on Patient Outcomes while improving the fiscal model for delivering care. The practical interpretation simply put is, “using these tests as a free screen, we can test more patients, faster, cheaper and provide “actionable data” in real-time.”
      </p>

      <h3>Our primary focus will be in two data-aggregating<br/> 
        health solutions:</h3>

        <span class="home_block2_con_block">
           <label>Traditional Risk Factors, through the non-invasive RM-3A Medical Device</label>

           <span class="home_block2_con_block_img"><img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/home_block2_img1.jpg" alt="#"></span>

           <a href="javascript:void(0)" routerLink="/rm3atesting" class="linktext">learn more</a>

        </span>


        <span class="home_block2_con_block">
          <label>Disease Identification 
            through a Dry Blood Card 
            collection system</label>


          <span class="home_block2_con_block_img"><img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/home_block2_img2.jpg" alt="#"></span>
          
          <a href="javascript:void(0)" routerLink="/blood-card-testing" class="linktext">learn more</a>
       
        </span>


        <span class="clear"></span>


    </span>

    <span class="clear"></span>
    </span>

</mat-card>




<mat-card class="home_block3">

  <span class="home_block3_wrapper1">

    <span class="home_block3_wrapper1_con1">
<h2>Diagnostic Services to the Masses</h2>

<h3>DataMed Unlimited is a real-time strategic information system that compiles health-related data and information to develop evidence ready to be used for each strategic decision in health. By 
  compiling health-related data and information, efficient 
  management of health information will ensure a complete and accurate response along with a strict monitoring to promote the health of the populations. 
  </h3>

    </span>


    <span class="home_block3_wrapper1_con2">
      <h2>Data analysis will include: </h2>
      
      <label>The reading of patient bio data gathered through the RM-3A and Blood test collection efforts.</label>
      <label>The production of an individual data profile on every 
        participating citizen. This will include all the data collected that you have read about in this presentation.</label>
      <label>The individual access to reporting by attending 
        physicians, hospital, medical facilities, medical research teams and government agencies.</label>

      
          </span>
    <span class="clear"></span>

    </span>


    <span class="home_block3_wrapper2">

      <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/home_block3_img1.jpg" alt="#"  >

    </span>


    <span class="home_block3_wrapper3">

      <span class="home_block3_wrapper3_img">

        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/home_block3_img2.jpg" alt="#"  >
  
      </span>

      <span class="home_block3_wrapper4_img">

        <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/home_block3_img3.jpg" alt="#"  >
  
      </span>

  
      <span class="clear"></span>
</span>

<a href="javascript:void(0)" routerLink="/contact-us" class="home_block3_link">learn more</a>
     

</mat-card>



    

      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>