<app-top></app-top>

<span style="position: relative; display: block;">
<img src="https://datamed-unlimited.s3.amazonaws.com/assets/images/home_demo1.png" alt="#" style="width: 100%;">


</span>

<span style="position: relative; display: block; margin-top: -4px;">
  <img src="https://datamed-unlimited.s3.amazonaws.com/assets/images/home_demo2.png" alt="#" style="width: 100%;">

  <a href="javascript:void(0)" style="    width: 14.5%;
  height: 11%;
  position: absolute;

  left: 42%;
  bottom: 8%;
  opacity: 0.7;"></a>
  </span>


  <span style="position: relative; display: block;  margin-top: -4px;">
    <img src="https://datamed-unlimited.s3.amazonaws.com/assets/images/home_demo3.png" alt="#" style="width: 100%;">

    <a href="javascript:void(0)" style="width: 12.5%;
    height: 5%;
    position: absolute;

    right: 31.5%;
    bottom: 6%;
    opacity: 0.7;"></a>

    <a href="javascript:void(0)" style="width: 12.6%;
    height: 5%;
    position: absolute;
  
    right: 6.8%;
    bottom: 6%;
    opacity: 0.7;"></a>
    </span>


    <span style="position: relative; display: block;  margin-top: -4px;">
      <img src="https://datamed-unlimited.s3.amazonaws.com/assets/images/home_demo4.png" alt="#" style="width: 100%;">
  
      <a href="javascript:void(0)" style="       width: 14.2%;
      height: 3.3%;
      position: absolute;
     
      left: 43.4%;
      bottom: 3%;
      opacity: 0.7;"></a>
      </span>


      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>