<app-top></app-top>


<mat-card class="blood-card-testing_banner">
  <span class="blood-card-testing_bnner_text_banner">
  <span class="blood-card-testing_bnner_text">
  <h2>
    <p data-title="Patent Pending">Patent Pending  </p>
    <p data-title="Blood Card">Blood Card</p>
      
  </h2>
  <h3>FDA approved dry blood collection device with a shelf life of 5-6 months. 

  </h3>

  </span>
</span>

</mat-card>

<span style="position: relative; display: block; margin-top: -4px;">
  <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/blood-card-testing_img2.jpg" alt="#" style="width: 100%;">
 
  </span>

  <span style="position: relative; display: block; margin-top: -4px;">
    <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/blood-card-testing_img3.jpg" alt="#" style="width: 100%;">
   
    </span>
 


      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>