<app-top></app-top>


<mat-card class="blood-card-testing_banner">
  <span class="blood-card-testing_bnner_text_banner">
  <span class="blood-card-testing_bnner_text">
  <h2>
    <p data-title="Patent Pending">Patent Pending  </p>
    <p data-title="Blood Card">Blood Card</p>
      
  </h2>
  <h3>FDA approved dry blood collection device with a shelf life of 5-6 months. 

  </h3>

  </span>
</span>

</mat-card>


<mat-card class="blood_card_block1">

  <span class="blood_card_block1_wrapper">

    <span class="blood_card_block1_con">

 <h2>BLOOD CARD TESTING</h2>

 <h3>Disease Identification in the areas of Malaria, Diabetes, Allergy and HIV (to start) become a reality through the expansive 
   use and availability of the Blood Cartridge! Because of the Blood Cartridge versatility, testing can be done inside or outside the country. 
   Our patent pending blood collection device that uses finger (or earlobe) prick technology.
    This device has a shelf life of 5-6 months and enables us to run “fully quantitative” blood assays. </h3>

  </span>

  </span>

</mat-card>


<mat-card class="blood_card_block2">

  <span class="blood_card_block2_body">

    <h2>DETECTION</h2>
    <span class="blood_card_block2_wrapper">

   

      <span class="blood_card_block2_wrapper_con">


        <span class="blood_card_block2_wrapper_con_block1">
             <p>
               <label> Malaria Screen</label>
               <strong>The first symptoms</strong> of malaria often look like the flu or a virus. Because of this, you may not get help right away. But a delay in treatment can lead to death. Early tests give you the best shot at recovery. The number of malaria parasites in your blood can change each day. So your test might say you don't have 
               malaria even if you do. For that reason, you may need your blood drawn severaltimes over 2-3 days for the best results,

             </p>
             <p>
              <label> Diabetes</label>
              <strong>We plan</strong> on running HbA1c and derive estimated Average Glucose from glucose. This is a good way to monitor diabetes and possible catch ones that were not diagnosed. Another Test that can be used is Glycated Albumin or Fructosamine that can is now considered the new test for monitoring diabetics 
                (Alcone every 3 months Glycated Albumin can monitor diabetics on monthly basis).
            </p>

            <p>
              <label> Cardiac</label>
              <strong>We can do High</strong> Sensitivity CRP, lipid panel and Homocysteine. We can run HSCRP and Homocysteine working on lipid panel now.
            </p>

        </span>

        <span class="blood_card_block2_wrapper_con_block2">
          <p>
            <label> Allergy</label>
            <strong>Food allergy</strong> and food intolerance. Intolerance measure the reaction of the body to 
              certain foods and determine which foods need to eliminated from diet. Food 
              intolerance can have symptoms such as diarrhea, abdominal pain and cramps. Nausea, headaches and migraine, and fatigue.
          </p>

          <p>
            <label> HIV</label>
            <strong>We can run</strong> both HIV Gen 4 antigen and Dual test for both Antigen and Antibody. The test window afterup later. exposure is 14 days and
               we can both test for p24 antigen that shows up early or the antibody that shows
          </p>
          <p>
            <label> Syphilis</label>
            <strong style="color: #1d7bbc;">We test for</strong> treponema pallidum antibodies can we are able to differentiate if needed past and current Infections.
          </p>

          </span>



      </span>

    
    </span>

    </span>

</mat-card>



 


      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>