<app-top></app-top>

<span style="position: relative; display: block;">
<img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/blood-card-testing_img1.jpg" alt="#" style="width: 100%;">


</span>

<span style="position: relative; display: block; margin-top: -4px;">
  <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/blood-card-testing_img2.jpg" alt="#" style="width: 100%;">
 
  </span>

  <span style="position: relative; display: block; margin-top: -4px;">
    <img src="https://all-frontend-assets.s3.amazonaws.com/datamed-unlimited/assets/images/blood-card-testing_img3.jpg" alt="#" style="width: 100%;">
   
    </span>
 


      <app-footer-form-block></app-footer-form-block>
<app-footer></app-footer>